<form action="/usuarios/login" method="post">
    <h3>Login: </h3>
    <div class="card">
        <div class="card-body">
            <label for="email">Email:</label>
                <input type="email" name="email" placeholder="E-mail" required class="form-control"><br/><br/>
            <label for="senha">Senha: </label>
                <input type="password" name="senha" placeholder="Password" required class="form-control"><br/><br/>
            <button type="submit" class="btn btn-primary">Logar-se</button>
        </div>
    </div>
</form>